<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table</title>
</head>
<style>
  table, th, td{
    border: 1px solid black;
  }
  body{
    background-color: #d2e9c3;
  }
</style>
<body>
  <center><h1>Overview in HTML Table</h1></center>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">Number</th>
        <th scope="col">Birthday</th>
        <th scope="col">Gender</th>
        <th scope="col">Address</th>
        <th scope="col">Institute</th>
        <th scope="col">Department</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%=firstname%></td>
        <td><%=lastname%></td>
        <td><%=elecmail%></td>
        <td><%=num%></td>
        <td><%=birthday%></td>
        <td><%=gend%></td>
        <td><%=add%></td>
        <td><%=ins%></td>
        <td><%=dep%></td>
      </tr>
    </tbody>
  </table>
</body>
</html>